.super_bloque{
    background-color: #f9e743;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}
#here{
    text-decoration: none;
    color: #8f246a;
}
.super_titulo{
    font-size: 350%;
}
#yo, #programando{
    display: block;
    margin: auto;
    border-radius: 60%;
}
.titulos{
    text-align: center;
    color: #8f246a;
    margin: 4%;
}
nav{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: #8f246a;
    color: white;
}
.nav{
    text-decoration: none;
    display: inline-block;
    background-color: #8f246a;
    padding: 15px;
    color: white;
}
.nav:hover{
    background-color: white;
    color: #8f246a;
}
#btn_menu{
    display: none;
    background-color: white;
    color: #8f246a;
    padding: 2%;
    width: 100%;
    border: 2px solid white;
}
section{
    display: flex;
    margin: 0px auto;
    width: 90%;
    justify-content: space-around;
    text-align: center;
    padding: 100px;
}
.lenguajes_aprendidos{
background-color: white;
padding: 3%;
border-radius: 6%;
border: 2px solid black;
box-shadow: 6px 6px 6px #8f246a;
}
.trabajos_realizados{
    background-color: white;
    color: #8f246a;
    padding: 40px;
    text-align: center;
    border: 2px solid black;
    border-radius: 6%;
    box-shadow: 6px 6px 6px #8f246a;
    
}
@media (max-width: 600px){
    nav{
        display: block;
        padding: 10px;
        justify-content:space-around;
        background-color: #8f246a;
        color: white;
    }
    .nav{
        text-decoration: none;
        display: block;
        background-color: white;
        color:#8f246a;
    }   
    #btn_menu{
        display: inline-block;
    }
    .oculto{
        display: none;
    }
}
